@defer {
  <h1 style="margin-top: 2em">
    Angular is a web framework that empowers developers to build fast, reliable
    applications.
  </h1>
  <p>
    Maintained by a dedicated team at Google, Angular provides a broad suite of
    tools, APIs, and libraries to simplify and streamline your development
    workflow. Angular gives you a solid platform on which to build fast, reliable
    applications that scale with both the size of your team and the size of your
    codebase.
  </p>
  } @placeholder (minimum 500ms) {
  <b>Stuff will be loaded here</b>
  } @loading (minimum 2s) {
  <b>Loading...</b>
  } @error {
  <p>Ouch, that hurts</p>
  }